{{ define "404" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Go Estimate | Not Found</title>
    <meta name="description" content="Page Not Found" />
    {{ template "layout/head" . }}
  </head>

  <body>
    {{ template "layout/nav-bar" . }}
    <header
      id="hero-content"
      class="flex flex-col items-center justify-center bg-sky-200 w-full py-8 border-b"
    >
      <img width="186" height="128" src="/static/assets/umbrella.png" alt="umbrella" />
      <h1 class="font-extrabold text-4xl">404 Not Found</h1>
      <div>We are unable to find the item that you are looking for.</div>
      <a href="/" class="mt-4 text-lg w-fit btn bg-sky-700 text-white hover:bg-sky-800">
        Return Home
      </a>
    </header>
    <main>
      <div class="w-full container text-center">
        The content you are looking for was not found anywhere. Are you sure you have the right URL?
      </div>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
{{ end }}
