{{ define "homepage/index" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Go Estimate</title>
    <meta name="description" content="Estimate - do your best guess" />
    {{ template "layout/head" . }}
</head>

<body>
    {{ template "layout/nav-bar" . }}

    <header id="hero-content" class="flex flex-col items-center justify-center bg-sky-200 w-full min-h-96 border-b">
        <div class="flex flex-col items-center gap-2 text-center max-w-[400px]">
            <h1 class="text-4xl font-extrabold text-sky-900">
                <img width="48" height="48" title="dancing gopher" src="/static/assets/dancing-gopher.gif"
                    alt="gopher" />
                Efficient Estimates
            </h1>
            <p class="text-lg">
                Because every other estimate application makes you pay, bombards you with ads, or limits you.
            </p>
            <button class="my-2 text-lg w-fit btn bg-sky-700 text-white hover:bg-sky-800" hx-put="/breakout"
                hx-trigger="click" hx-target="body" hx-swap="outerHTML">
                <span class="htmx-placeholder">Start a Breakout</span>
                <span class="htmx-indicator">Starting breakout...</span>
            </button>
            <p class=" text-black/60 text-sm">
                You can share the link after you start a session.
            </p>
        </div>
    </header>
    <main>
        <div class="flex flex-col gap-4 container">
            <section>
                <h1 class="text-2xl font-extrabold">Fast and Simple</h1>
                Tired of platforms that limit your ability to estimate and clutter your workspace with ads? Efficient
                Estimates gives you the freedom to focus on what really matters—your team's estimates. No ads, no
                restrictions, just fast, simple, and effective estimation.
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-4">
                    <div
                        class="bg-sky-50 rounded-xl p-3 border border-sky-200 hover:bg-sky-100 transition-colors ease duration-300">
                        <h2 class="text-lg font-extrabold">No Limits</h2>
                        Create as many estimates as you need, for as many projects as you want. Whether you're working
                        on a small team or managing multiple large-scale projects, Efficient Estimates scales with you.
                    </div>
                    <div
                        class="bg-sky-50 rounded-xl p-3 border border-sky-200 hover:bg-sky-100 transition-colors ease duration-300">
                        <h2 class="text-lg font-extrabold">Ad-Free</h2>
                        Enjoy a clean, distraction-free environment. We believe your estimation tools shouldn't come
                        with hidden costs—like your time and attention.
                    </div>
                    <div
                        class="bg-sky-50 rounded-xl p-3 border border-sky-200 hover:bg-sky-100 transition-colors ease duration-300">
                        <h2 class="text-lg font-extrabold">Streamlined</h2>
                        Built for teams who value simplicity and efficiency, Efficient Estimates keeps the focus on
                        collaboration, not on unnecessary features or paywalls.
                    </div>
                </div>
            </section>
            <div class="flex justify-center">
                <img width="610" height="504" alt="campfire gopher" src="/static/assets/campfire.png" />
            </div>
        </div>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
</body>

</html>
{{ end }}
