{{ define "breakout/index" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team Breakout</title>
    <meta name="description" content="Team breakout - start doing your estimates" />
    {{ template "layout/head" . }}
  </head>

  <body>
    {{ template "layout/nav-bar" . }}
    <main>
      {{ if eq .UserID .Breakout.CreatedBy }} You are the owner of this breakout {{ end }}
      <div
        id="ws_connection"
        class="container"
        hx-ext="ws"
        ws-connect="/ws/{{ .Breakout.ID }}?user_id={{ .UserID }}"
      >
        <div id="voting-cards" hx-swap-oob="beforeend">{{ template "vote/index" .Breakout }}</div>
        <div id="breakout" hx-swap-oob="beforeend"></div>
      </div>
      <input id="user_id" type="hidden" value="{{ .UserID }}" />
      <script>
        document.addEventListener("DOMContentLoaded", function (evt) {
          const displayName = localStorage.getItem("display_name");

          if (!displayName) {
            htmx.ajax("GET", "/update-display-name", {
              target: "body",
              swap: "beforeend",
            });
          }
        });
      </script>
    </main>
    {{ template "layout/footer" . }} {{ template "layout/scripts" . }}
  </body>
</html>
{{ end }}
