{{ define "layout/nav-bar" }}
<nav class="flex items-center fixed top-0 w-full bg-white border-b py-3 h-[50px]" hx-boost="true">
    <div class="container">
        <h1 class="font-extrabold text-xl">
            <a class="flex items-center w-fit gap-2 rounded-lg px-3 py-1.5 hover:bg-sky-100 hover:px-3 -ml-3" href="/">
                <img height="32" width="32" alt="gopher"
                    src="https://github.com/egonelbre/gophers/blob/master/icon/emoji/gopher-thinking.png?raw=true" />
                Go Estimate
            </a>
        </h1>
    </div>
</nav>
{{ end }}
